/*
* Photo Gallery — Practice
* CSS Styles
*
* Start typing your code under these comments
*/

body {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-size: 36px;
    text-transform: uppercase;
    color: #cccccc;
    text-align: center;
    margin: 30px 0;
}

.container {
    width: 100%;
    /* ширина блока-контейнера */
    max-width: 960px;
    /* максимальная ширина контейнера */
    margin: 0 auto;
    /* этот стиль центрирует контейнер */
}

#gallery {
    margin-bottom: 50px;
}

#gallery:after {
    content: '';
    display: block;
    height: 0;
    clear: both;
}

.photo {
    float: left;
    /* говорим элементам выстраиваться один за другим */
    width: 33.333333%;
    /* устанавливаем ширину элемента */
    padding: 10px;
    /* добавляем отступы с каждой стороны */
    box-sizing: border-box;
    /* меняем способ вычисления ширины */
}

.photo img {
    display: block;
    max-width: 100%;
    height: auto;
    padding: 10px;
    background-color: #eee;
    box-sizing: border-box;
}



.photo figcaption {
    color: #999999;
    text-align: center;
    margin-top: 20px;
}